.git
.env
.env.backup
.env.production
/vendor
/node_modules
storage/*.key
docker-compose.yml
phpunit.xml
tests
/storage/app/*.json
/storage/credentials.json
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
.phpactor.json
.phpunit.result.cache
.fleet
.idea
.nova
.vscode
.zed